<ion-content>
  <div class="header">
    <ion-item href="/home">
      <div class="logo">
        <ion-img src="../../assets/logos/logo1-nobg.png"></ion-img>
      </div>
    </ion-item>
  </div>

  <div class="input-div">
    <ion-item>
      <ion-label class="nome-label">Nome de Usuário</ion-label> <br /><br />
    </ion-item>
    <ion-item>
      <ion-input
        class="inputs"
        placeholder="Insira seu nome de usuário"
      ></ion-input>
    </ion-item>
  </div>

  <div class="input-div">
    <ion-item>
      <ion-label class="nome-label">Senha</ion-label> <br /><br />
    </ion-item>
    <ion-item>
      <ion-input
        class="inputs"
        type="password"
        placeholder="Insira sua senha"
      ></ion-input>
    </ion-item>
  </div>

  <div class="input-div">
    <ion-item>
      <ion-label class="nome-label">Repita sua senha</ion-label> <br /><br />
    </ion-item>
    <ion-item>
      <ion-input
        class="inputs"
        type="password"
        placeholder="Exatamente a mesma"
      ></ion-input>
    </ion-item>
  </div>

  <div class="button-2">
    <ion-button fill="outline">Cadastrar</ion-button>
  </div>

  <ion-item href="/login">
    <div class="criar-conta">
      <h5><strong>Já possui uma conta?</strong></h5>
    </div>
  </ion-item>
</ion-content>
